/*------------------------------------*\
    $BUILDER
\*------------------------------------*/
/**
 * BUILDER
*/

#builder {
	width: 1200px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #AAA;
}

#professionSelection {
	background-color: #000;
	height: 40px;
	width: 1200px;
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
}

@each $profession in $professions {
	$i: index($professions, $profession);
	$cornerBase: ((($i - 1) * 3) * 32) * -1;
	$cornerHover: $cornerBase - 32;
	$cornerSelected: $cornerBase - 64;
	.#{$profession}-icon {
		width: 32px;
		height: 32px;
		background: url("/images/profession/professions_icons.png") #{$cornerBase}px 0 no-repeat;
		display: inline-block;
	}

	.#{$profession}-icon:hover {
		width: 32px;
		height: 32px;
		background: url("/images/profession/professions_icons.png") #{$cornerHover}px 0 no-repeat;
	}

	.#{$profession}-icon.selected {
		width: 32px;
		height: 32px;
		background: url("/images/profession/professions_icons.png") #{$cornerSelected}px 0 no-repeat;
	}
}