/*------------------------------------*\
    $BUILDER
\*------------------------------------*/
/**
 * BUILDER
*/

#builder {
	width: 1200px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #AAA;
}

#professionSelection {
	background-color: #000;
	height: 80px;
}