<div id="mainContent">

    <h1>Guild Wars 2 builder</h1>

    <div id="builder">
    	<div id="professionSelection">
    		<div class="elementalist-icon" data-profession="elementalist"></div>
    		<div class="engineer-icon" data-profession="engineer"></div>
    		<div class="guardian-icon" data-profession="guardian"></div>
    		<div class="mesmer-icon" data-profession="mesmer"></div>
    		<div class="necromancer-icon" data-profession="necromancer"></div>
    		<div class="ranger-icon" data-profession="ranger"></div>
    		<div class="revenant-icon" data-profession="revenant"></div>
    		<div class="thief-icon" data-profession="thief"></div>
    		<div class="warrior-icon" data-profession="warrior"></div>
    	</div>
    </div>

</div>