<div id="mainContent">

    <h1>Guild Wars 2 builder</h1>

    <div id="builder">
    	<div id="professionSelection">
    		<div class="elementalist-icon"></div>
    		<div class="engineer-icon"></div>
    		<div class="guardian-icon"></div>
    		<div class="mesmer-icon"></div>
    		<div class="necromancer-icon"></div>
    		<div class="ranger-icon"></div>
    		<div class="revenant-icon"></div>
    		<div class="thief-icon"></div>
    		<div class="warrior-icon"></div>
    	</div>
    </div>

</div>